<template>
    <div class="<%= data.lowerName %>">
        <h1>{{ msg }} Page</h1>
    </div>
</template>

<script>
import { ref } from 'vue'
export default {
    name: '<%= data.name %>',
    components: {},
    setup() {
        let msg = ref('this is <%= data.lowerName %> page')
        return {
            msg
        }
    }
}
</script>

<style lang="less" scoped>
    .<%= data.lowerName %> {
    
}
</style>

